
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="styleLIST.css">
    <title>Список</title>
</head>
<body>
    <img src="images/logo.ico">
    <b>|</b>
    <a href="index.html">Главная</a>
    <div class="blue-bar">Список</div>
    <div class="gray-blockchangeBIG">
        <b>Список алгоритмов?</b>
        <br>
        <div class="rectangle">
            <br><a href="https://youtu.be/HLQ1cK9Edhc?si=9T0DvUZ0QPm3nuOd&t=16" class="button-link">Тык</a>
        </div>

    </div>
</body>
</html>